<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3hQ41CM2zhLVsS076K-_gtQLAShkjFDs</string>
	<key>GCM_SENDER_ID</key>
	<string>555755108862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catalogDigitizationOndc</string>
	<key>PROJECT_ID</key>
	<string>catalog-digitization-ebc51</string>
	<key>STORAGE_BUCKET</key>
	<string>catalog-digitization-ebc51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555755108862:ios:b52dfab6cc5fd3c05168af</string>
</dict>
</plist>